# ===== Build output (Maven) =====
target/
**/target/

# ===== IDE =====
# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/
.apt_generated
.factorypath

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ===== Logs =====
*.log

# ===== OS junk =====
.DS_Store
Thumbs.db
